.modal {
  height: 100vh;
  width: 100vw;
  background-color: @color-black;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__content {
  background: @color-background;
  border-radius: 11px;
  padding: 50px 70px;
  position: relative;
}

.modal__content-delete {
  padding: 0;
}

.modal__close {
  padding: 12px;
  position: absolute;
  right: 25px;
  top: 25px;
}

.modal__main {
  border: 1px solid @color-yellow;
  border-radius: 7px;
  padding: 14px;

  display: flex;
  flex-direction: column;
  gap: 14px;

  min-width: 620px;
}

.modal__header {
  font-family: "PoorStory-Regular", cursive;
  font-size: 1.4rem;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
}

.modal__header-delete {
  font-size: 1rem;
  margin-bottom: 24px;
}

.modal__btn {
  font-size: 0.9rem;
  line-height: 1;
  color: @color-commonFont;
  padding: 15px 36px;

  gap: 30px;

  background: @color-white;
  box-shadow: 0px 1px 2px @color-black;
  border-radius: 4px;
}

.modal__buttons {
  display: flex;
  gap: 12px;
}

.modal__main_card-name {
  font-size: 1.125rem;
  line-height: 1;
  letter-spacing: 0.03em;
}

.modal__main_card-deadline {
  flex-basis: 100%;
  font-size: 0.8rem;
}

.modal__main-view {
  border: none;
  min-height: 170px;
}

.input-date {
  background-color: @color-background;
  padding: 15px;
  color: @color-commonFont;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
}

::-webkit-calendar-picker-indicator {
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.toggle {
  align-items: center;
  border-radius: 100px;
  display: flex;
  font-weight: 700;
  margin-bottom: 16px;

  &:last-of-type {
    margin: 0;
  }
}

.toggle__input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  &:not([disabled]):active + .toggle__track,
  &:not([disabled]):focus + .toggle__track {
    box-shadow: @color-yellow;
  }
}

.toggle__track {
  background: @color-background;
  border: 2px solid @color-yellow-light;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  height: @track-height;
  margin-right: 12px;
  position: relative;
  width: @track-width;
}

.toggle__track_indicator {
  align-items: center;
  background: @color-yellow-light;
  opacity: 0.5;
  border-radius: @toggle-indicator-size;
  bottom: 2px;
  display: flex;
  height: @toggle-indicator-size;
  justify-content: center;
  left: 2px;
  outline: solid 2px transparent;
  position: absolute;
  transition: 0.3s;
  width: @toggle-indicator-size;
}

.toggle__text {
  font-size: 0.9rem;
  font-weight: 300;
}

.toggle__input:checked + .toggle__track .toggle__track_indicator {
  background: @color-yellow;
  opacity: 1;
  transform: translateX(@track-width - @track-height - 1);
}

.toggle__input:checked ~ .toggle__text {
  font-weight: 700;
}

.deadline {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  gap: 15px;
}

.modal__main_card-files {
  display: flex;
}

.card-files__url {
  width: calc(100% / 3);
}
